<div class="container">
  <div class="page-header">
    <span class="title">My Groups</span>
    <div class="buttons">
      <button class="btn btn-outline-primary rounded-circle" (click)="onAdd()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="search-box mt-3">
    <input
      type="text"
      placeholder="Search"
      #searchText
      (keyup)="onSearch(searchText.value)"
    />
    <button>
      <i class="fa fa-search fa-sm"></i>
    </button>
  </div>
  <div class="data-list-container">
    <div class="data-list-item" *ngFor="let group of groups; let i = index">
      <div class="upper">
        <div class="card-column">
          <span>{{ group?.name }}</span>
          <!-- <span><i class="fa fa-rupee"></i> {{ group.totalAmount }}</span> -->
        </div>
        <div class="me-1" title="45 members">
          {{ group.members.length }} <i class="fa fa-user"></i>
        </div>
      </div>
    </div>
    <div *ngIf="!groups.length">No records found</div>
  </div>
</div>
<div class="modal" tabindex="-1" #groupModalRef>
  <app-add-edit-group></app-add-edit-group>
</div>
