<div class="container">
  <div class="page-header">
    <span class="title">My Activity</span>
    <div class="buttons">
      <button class="btn btn-outline-primary rounded-circle" (click)="onAdd()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="search-box mt-3">
    <input type="text" placeholder="Search" />
    <button>
      <i class="fa fa-search fa-sm"></i>
    </button>
  </div>
  <ul class="nav nav-pills nav-pills-sm my-2">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="pill" href="#paid">Paid</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#owed">Owed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#settled">Settled</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane m-0 active fade show" id="paid">
      <div class="data-list-container">
        <div class="data-list-item">
          <div class="upper">
            <div class="card-column">
              <span>Group name</span>
            </div>
            <div class="me-1" title="45 members">
              <i class="fa fa-rupee"></i>1200
              <button
                class="btn btn-sm btn-flat"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <i class="fa fa-caret-up fa-lg"></i>
              </button>
            </div>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="bottom">
              <div class="card-column">
                <div> Vijay 100</div>
                <div> Nilesh 700</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane m-0 fade" id="owed">
      <div class="data-list-container">
        <div class="data-list-item">
          <div class="card-column">
            <span></span>
            <span>+3476 INR</span>
          </div>
          <div class="me-1" title="45 members">
            45 <i class="fa fa-user"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane m-0 fade" id="settled">
      <div class="data-list-container">
        <div class="data-list-item">
          <div class="card-column">
            <span></span>
            <span>+3476 INR</span>
          </div>
          <div class="me-1" title="45 members">
            45 <i class="fa fa-user"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" #splitModalRef>
  <app-add-edit-split></app-add-edit-split>
</div>
