<div class="container">
  <div class="login-container">
    <div class="logo">
      <i class="fa fa-bolt fa-4x"></i>
    </div>
    <div class="brand-name display-4 my-3">
      My Cut
    </div>
    <div class="login-form">
      <div class="form-group mb-2">
        <input type="text" name="email" id="i-email" class="form-control" placeholder="Email">
      </div>
      <button class="btn btn-primary w-100 mt-2">
        Reset my password
      </button>
      <div class="links text-small my-2 px-1">
        <span routerLink="/auth/login"><small>Login</small></span>
        <span routerLink="/auth/sign-up"><small>Sign up</small></span>
      </div>
    </div>
  </div>
</div>