<div class="container">
  <div class="login-container">
    <div class="logo">
      <i class="fa fa-bolt fa-4x"></i>
    </div>
    <div class="brand-name display-4 my-3">My Cut</div>
    <div class="login-form">
      <div class="form-group mb-2">
        <input
          type="text"
          name="firstName"
          id="i-firstName"
          class="form-control"
          placeholder="First name"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="text"
          name="lastName"
          id="i-lastName"
          class="form-control"
          placeholder="Last name"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="text"
          name="userName"
          id="i-userName"
          class="form-control"
          placeholder="Username"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="email"
          name="email"
          id="i-email"
          class="form-control"
          placeholder="Email"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="password"
          name="password"
          id="i-password"
          class="form-control"
          placeholder="Password"
        />
      </div>
      <div class="form-group mb-2">
        <input
          type="password"
          name="confirm-password"
          id="i-confirm-password"
          class="form-control"
          placeholder="Confirm Password"
        />
      </div>
      <button class="btn btn-primary w-100 mt-2">Sign up</button>
      <div class="links text-small my-2 px-1">
        <span routerLink="/login"><small>Have an account?</small></span>
      </div>
    </div>
  </div>
</div>
