<div class="footer-container shadow-sm">
  <!-- <div class="list-item" routerLink="/app/home">
    <i class="fa fa-home fa-lg"></i>
    <small class="label">Home</small>
  </div> -->
  <div class="list-item" routerLink="/app/groups">
    <i class="fa fa-users fa-lg"></i>
    <small class="label">Groups</small>
  </div>
  <div class="list-item" routerLink="splits">
    <i class="fa fa-bolt fa-lg"></i>
    <small class="label">Split</small>
  </div>
  <!-- <div class="list-item" routerLink="/app/settings">
    <i class="fa fa-cog fa-lg"></i>
    <small class="label">Settings</small>
  </div> -->
</div>