<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ splitId ? "Edit" : "Add" }} Split</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body" [formGroup]="splitForm">
      <div class="form-group my-2">
        <input
          type="text"
          name="title"
          id="i-title"
          class="form-control"
          placeholder="Title"
          formControlName="title"
        />
      </div>
      <!-- <div class="d-flex justify-content-around">
        <div class="ms-2">Split with</div>
        <div>
          <select name="splitWith" id="i-splitWith" class="form-control">
            <option selected>Group</option>
            <option>Users</option>
          </select>
        </div>
      </div> -->
      <div class="form-group my-2">
        <select
          class="form-control"
          formControlName="selectedGroup"
          (change)="onSelectGroup()"
        >
        <option value="null" selected disabled> Select Group</option>
        <option [value]="group?.id" *ngFor="let group of groups">
          {{group?.name}}
        </option>
      </select>
      </div>
      <div class="form-group">
        <input
          type="number"
          name="totalAmount"
          id="i-amount"
          class="form-control"
          placeholder="Amount"
          formControlName="totalAmount"
          (change)="onSelectGroup()"
        />
      </div>
      <div class="form-group my-2">
        <input
          type="text"
          name="description"
          id="i-description"
          class="form-control"
          placeholder="Description"
          formControlName="description"
        />
      </div>
    </div>
    <!-- <div class="selected-users">
      <div class="user">
        <div class="name">Vijay</div>
        <div class="user-ratio">
          <button
            class="btn btn-sm btn-outline-primary rounded-circle py-0 p-1 m-0"
          >
            <i class="fa fa-plus fa-xs"></i>
          </button>
          <div>2</div>
          <button
            class="btn btn-sm btn-outline-primary rounded-circle py-0 p-1 m-0"
          >
            <i class="fa fa-plus fa-xs"></i>
          </button>
        </div>
        <div class="amount">200</div>
      </div>
    </div> -->
    <div class="m-2">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Ratio</th>
            <th class="text-end">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let splitter of getSpliitersArrayForm()">
            <td>{{splitter?.member?.firstName + ' ' + splitter?.member?.lastName}}</td>
            <td class="text-center">
              <!-- <div class="user-ratio">
                <button
                  class="btn btn-sm btn-outline-primary rounded-circle py-0 p-1 my-0 mx-1"
                >
                  <i class="fa fa-plus fa-xs"></i>
                </button>
                <div class="mx-1">2</div>
                <button
                  class="btn btn-sm btn-outline-primary rounded-circle py-0 p-1 my-0 mx-1"
                >
                  <i class="fa fa-plus fa-xs"></i>
                </button>
              </div> -->
            </td>
            <td class="text-end">{{splitter?.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onSaveSplit()">Save</button>
    </div>
  </div>
</div>
